.card{
    text-align: center;
    background-color: aliceblue;
    padding: 2rem;
    border: 1px solid white;
    border-radius:  8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
.imagenes{
    align-items: center;
    width: 200px;
    height: 200px;
    padding: 10PX;
    text-align: center;
}

.card-hover{
    transform: translate(-4px);
    border-color: bisque;
}
@media(min-width:1024px){
    .card-grid{
        grid-template-columns: repeat(2,1fr);
    }
}
@media(max-width 768px) and(max-width:1024px){
.card-grid{
    grid-template-columns: repeat(3,1fr)
    }

}
.card-foto{
    font-size: 2,5rem;
    margin-bottom: 0,75rem;
    font-size: 1,25rem;
}
